# Node modules
node_modules/

# Build artifacts
build/

# Firebase secrets
.env.local
.env.development
.env.test
.env.production

# Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.csproj
Thumbs.db
.DS_Store
*.swa